<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-contact" style="margin-left: 40px; margin-right:40px;">
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-md-12 animate-box" >
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3> <%= $alert_message %> </h3>
            </div>
            <br>
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
              <% if $alert_error %>
                <%= link_to '<button type=submit class="block-center btn btn-primary">Volver</button>'.html_safe, :back, class:'text-center' %>
              <% else %>
                <%= link_to '<button type=submit class="block-center btn btn-primary">Continuar</button>'.html_safe, root_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>