<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-services" class="fh5co-bg-section border-bottom">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <span>Respondemos tus dudas</span>
            <h2>Preguntas Frecuentes</h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-eye"></i>
            </span>-->
            <h3>¿Como saco turno?</h3>
            <small><p>Tenés que contactarte por teléfono o personalmente y solicitar el turno para realizar una entrevista inicial.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-command"></i>
            </span>-->
            <h3>¿Las Obras Sociales cubren los tratamientos?</h3>
            <small><p>Algunas Obras Sociales cubren todos los tratamientos y evaluaciones, mientras que otras solo cubren a aquellos niños que tienen C.U.D., también hay otras que trabajan con reintegro.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-power"></i>
            </span>-->
            <h3>¿Qué es el C.U.D.?</h3>
            <small><p>Es el Certificado Unico de Discapacidad. Un documento que certifica el diagnóstico de una persona y le permite acceder a derechos y prestaciones que brinda el Estado.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-eye"></i>
            </span>-->
            <h3>¿Con niños de que edades trabajan?</h3>
            <small><p>Trabajamos con niños y niñas de 0 a 12 años de edad con desafíos en su neurodesarrollo.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-command"></i>
            </span>-->
            <h3>¿Trabajan solo con niños con T.E.A.?</h3>
            <small><p>Trabajamos con niños con Trastorno del Espectro Autista y también con otros diagnósticos.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>

        <!--<div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <i class="icon-power"></i>
            </span>
            <h3>Psicopedagogía</h3>
            <small><p>Los profesionales del Servicio de Psicopedagogía atienden, dentro de un contexto interdisciplinario, las demandas de diagnóstico, tratamiento y orientación socioeducativa de los niños con trastornos del neurodesarrollo que manifiestan dificultades en el ámbito escolar, con el fin de prevenir el fracaso escolar o intervenir en él.</p></small>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>-->
        <div class="clearfix visible-md-block"></div>

      </div>
    </div>
  </div>
</div>