<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-project">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
          <span>Una breve historia</span>
          <h2>Así fué como comenzamos</h2>
          <p class="text-justify">Andares nace desde la inquietud y el movimiento, es el resultado de la impronta de un grupo de profesionales que no encontraba en sus entornos laborales los desafíos profesionales que los impulsaran a superarse.</p>
          <p>En el año 2013 se concreta este proyecto, que se gestaba entre mates y charlas, desde el año anterior. El objetivo estaba claro, el "Cómo?" se fue construyendo día a día y aún sigue en construcción. Andares es movimiento porque se reinventa con cada experiencia.</p>
          <p>Nuestra historia es, y así será siempre, debate, carácter, pasión y construcción.</p>
        </div>
      </div>
      <%=render 'partials/andares_old' %>
    </div>
  </div>
</div>