<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <%= render 'partials/initial_comment' %>
  <%= render 'partials/statistics' %>
  <%#= render 'partials/intro' %>
  <%= render 'partials/services' %>
  <%= render 'partials/obras_sociales' %>
  <%= render 'partials/workwithus' %>
</div>

