<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-project">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
          <span>¿Quienes Somos?</span>
          <h2>Nos presentamos</h2>
          <p class="text-justify">Andares es un equipo conformado por profesionales de distintas disciplinas que tiene como finalidad realizar la prevención, detección precoz y abordaje de los desafíos en el neurodesarrollo, realizando en aquellos casos que así lo requieran, una intervención integral e intensiva dirigida a potenciar la capacidad del niño con el fin de evitar o minimizar dichos desafíos.</p>
          <p class="text-justify">Entendemos a la atención del desarrollo infantil como un concepto independiente al de discapacidad y necesario para lograr un estado de salud integral que permita por lo tanto, avanzar en un modelo de prestación de servicios que reduce las desigualdades. Para ello, Andares cuenta con profesionales del campo de la fonoaudiología, terapia ocupacional, atención temprana, psicología, neurokinesiología, educación especial, habilitación auditiva, psicomotricidad, psicopedagogía, apoyo a la integración y acompañamiento terapéutico. Andares es un equipo interdisciplinario que cuenta con recursos propios y entiende que el trabajo en red con los servicios existentes en la zona de cobertura posibilita una intervención global y personalizada a los niños, sus familias y entorno. La atención del desarrollo infantil requiere un adecuado despliegue de actividades dirigidas a la prevención primaria de las alteraciones del desarrollo, de las actividades de prevención secundaria y las correspondientes a la prevención terciaria. Todas estas actividades, definidas y desarrolladas, como procesos asistenciales o en el marco de programas específicos, son las que deben dar el soporte de la atención del desarrollo infantil. Este proceso hace especial referencia a aquellas intervenciones que desde el sector sanitario pueden contribuir a reducir la incidencia y gravedad de las alteraciones del desarrollo, ya sea evitando su presentación o reduciendo su progresión y contrarrestando sus consecuencias. El abordaje eficaz de la atención del desarrollo infantil tiene directa relación con la necesidad de un enfoque integral, de una respuesta intersectorial, interdisciplinar y multiprofesional inserta en un modelo de intervención uniforme, centrado en el niño/a - familia - entorno.</p>
          <p class="text-justify">Andares se conforma teniendo múltiples propósitos, siendo uno de los principales la capacitación de profesionales, estudiantes y comunidad en general. Por lo tanto realiza distintos cursos y jornadas de capacitación, con el fin de promover información y buenas prácticas.</p>
        </div>
      </div>
      <%= render 'partials/how' %>
    </div>
  </div>
</div>