<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <span>Importante!</span>
          <h2>Para pacientes</h2>
          <p>En esta sección iremos informando a nuestros pacientes de cualquier eventualidad que pueda surgir.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;Proximamente incorporamos Neurología infantil. Consultar por turnos para el mes de Julio&rdquo;</p>
              <p class="author"><img src="images/img-1lorena.jpeg" alt=""> <cite>&mdash; Lorena Quinteros</cite></p>
            </blockquote>
          </div>

          <!-- <div class="testimonial fh5co-selected">
             <blockquote>
               <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
               <p class="author"><img src="images/person2.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
             </blockquote>
           </div>
         </div>

         <div class="col-md-6 animate-box">
           <div class="testimonial fh5co-selected">
             <blockquote>
               <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
               <p class="author"><img src="images/person3.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
             </blockquote>
           </div>

           <div class="testimonial">
             <blockquote>
               <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
               <p class="author"><img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
             </blockquote>
           </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
