<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-blog" class="">
    <div class="container">
      <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <span>Andares en la web</span>
          <h2>Algunas Novedades</h2>
          <p>Todo lo relacionado a Andares en la red.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box " data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span></span>
            <h3><a href="#">Actividades</a></h3>
            <p>El 2 de abril se conmemora el Día mundial de la concientización sobre el autismo, por lo que...</p>
            <p class="author"><img src="images/reunion_andares_1.JPG" alt=""><a href="https://www.caletaolivia.gov.ar/prensa/9-destacados/2489-andares-se-prepara-para-sus-actividades-de-abril.html" target="_blank">Ver noticia</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span></span>
            <h3><a href="#">Ley Nacional</a></h3>
            <p>Santa Cruz adhirió a la Ley Nacional Integral e Interdisciplinaria para personas con TEA.</p>
            <p class="author"><img src="images/reunion_andares_ley_nacional.jpg" alt=""><a href="https://viapais.com.ar/caleta-olivia/409506-santa-cruz-adhirio-a-la-ley-nacional-integral-para-personas-con-tea/" target="_blank">Ver noticia</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span></span>
            <h3><a href="#">Actividades</a></h3>
            <p>Desde hace ya 4 años, el centro de desarrollo infantil Andares, organiza la Jornada Concientizaciòn...</p>
            <p class="author"><img src="images/andares-logo1.jpg" alt=""><a href="http://masprensa.com/andares-desarrollo-diferentes-actividades-de-conciencia/" target="_blank">Ver noticia</a></p>
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>

        <!--<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date"></span>
            <h3><a href="#">En Construcción</a></h3>
            <p>Silbando al trabajar
              Cualquier que hacer
              Es un placer
              Si se hace sin pensar.

              Si el cuarto hay que barrer
              Escoba hay que tener
              Y sin sentir bailando vas
              Barriendo al ritmo y al compas.</p>
            <p class="author"><img src="images/andares-logo1.jpg" alt="">
              <cite> Andares</cite></p>
          </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date"></span>
            <h3><a href="#">En contrucción</a></h3>
            <p>Silbando al trabajar
              Cualquier que hacer
              Es un placer
              Si se hace sin pensar.

              Si el cuarto hay que barrer
              Escoba hay que tener
              Y sin sentir bailando vas
              Barriendo al ritmo y al compas.</p>
            <p class="author"><img src="images/andares-logo1.jpg" alt="">
              <cite> Andares</cite></p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date"></span>
            <h3><a href="#">En construcción</a></h3>
            <p>Silbando al trabajar
              Cualquier que hacer
              Es un placer
              Si se hace sin pensar.

              Si el cuarto hay que barrer
              Escoba hay que tener
              Y sin sentir bailando vas
              Barriendo al ritmo y al compas.</p>
            <p class="author"><img src="images/andares-logo1.jpg" alt="">
              <cite> Andares</cite></p>
          </div>
        </div>

        <div class="clearfix visible-md-block"></div>-->
      </div>
    </div>
  </div>
</div>