<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-services" class="fh5co-bg-section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <span>Lo que te ofrecemos</span>
            <h2>Nuestros Servicios</h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-eye"></i>
            </span>-->
            <h3>Atención Temprana</h3>
            <small><p>Se entiende por atención temprana el conjunto de intervenciones dirigidas a la población infantil, a la familia y al entorno, que tienen por objetivo dar respuesta lo más pronto posible a las necesidades transitorias o permanentes que presentan los niños con desafíos en su desarrollo o que tienen el riesgo de presentarlos. El servicio de Atención Temprana realiza el abordaje terapéutico de niños de 0 a 6 años con alteraciones en las diferentes áreas del neurodesarrollo.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-command"></i>
            </span>-->
            <h3>Fonoaudiología</h3>
            <small><p>Es la disciplina que se ocupa de las funciones de la comunicación, lenguaje, audición y estomatología teniendo en cuenta su desarrollo, maduración, patología y recuperación. Se brinda terapia del lenguaje en población infantil de 0 a 12 años respondiendo las particularidades y necesidades del paciente, en
aquellos casos que así lo requieran, se realizaran Talleres de Estimulación del Lenguaje en grupos reducidos con niños con Trastornos Específicos del lenguaje (TEL).</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-power"></i>
            </span>-->
            <h3>Neurokinesiología</h3>
            <small><p>Es una disciplina del área de la salud que se basa en el movimiento del cuerpo como medio terapéutico, asociado al re aprendizaje de actos motores que se han deteriorado debido a lesiones del Sistema Nervioso Central o Periférico. Busca la recuperación y rehabilitación de las capacidades físicas y mentales de los niños con alteraciones en el Neurodesarrollo.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>

        <div class="clearfix visible-md-block"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-eye"></i>
            </span>-->
            <h3>Psicología Infantil</h3>
            <small><p>La Psicología Infantil es una rama de la psicología que estudia el desarrollo cognitivo, emocional y conductual del niño. Se producen un número increíble de cambios durante la infancia, especialmente desde el nacimiento hasta los dos años, generándose grandes avances en el desarrollo físico, cognitivo y psicosocial, todos los cuales son áreas clave de estudio dentro de la Psicología Infantil. Los psicólogos de la infancia y el desarrollo estudian todos los cambios que se producen durante este ciclo de vida, también tratan las disfunciones y problemas ya sea a nivel emocional como de aprendizaje y de adaptación.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-command"></i>
            </span>-->
            <h3>Psicomotricidad</h3>
            <small><p>La psicomotricidad es una disciplina que, basándose en una concepción integral del ser humano, se ocupa de la interacción que se establece entre el conocimiento, la emoción, el cuerpo y el movimiento y de su importancia para el desarrollo de la persona, así como de su capacidad para expresarse y relacionarse en un contexto social. Partiendo de esta concepción se desarrollan distintas formas de intervención psicomotriz que encuentran su aplicación, cualquiera que sea la edad, en los ámbitos preventivo, educativo, reeducativo y terapéutico.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-power"></i>
            </span>-->
            <h3>Psicopedagogía</h3>
            <small><p>La Psicopedagogía Infantil atiende, dentro de un contexto interdisciplinario, las demandas de diagnóstico, tratamiento y orientación socioeducativa de los niños con trastornos del neurodesarrollo que manifiestan dificultades en el ámbito escolar, con el fin de prevenir el fracaso escolar o intervenir en él. El principal objetivo es crear distintas herramientas o procesos para poder incrementar la educación de las personas teniendo en cuenta sus potencialidades y destrezas académicas como así también sus dificultades, todo ello basado en su estilo único de aprendizaje.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-eye"></i>
            </span>-->
            <h3>Psiquiatría Infantil</h3>
            <small><p>El psiquiatra de niños y adolescentes (psiquiatra infantil) es un doctor en medicina que se especializa en el diagnóstico y el tratamiento de los desórdenes del pensamiento, las emociones y/o el comportamiento que afecta a los niños, adolescentes y sus familias.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-command"></i>
            </span>-->
            <h3>Acompañamiento Terapéutico</h3>
            <small><p>El acompañamiento terapéutico se presenta como un recurso de creciente importancia en el tratamiento de diferentes tipos de desafíos en su neurodesarrollo. Este dispositivo, además posibilita una estrategia de trabajo complementaria de los distintos tipos de abordaje terapéutico.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-power"></i>
            </span>-->
            <h3>Educación Especial</h3>
            <small><p>Los maestros de educación especial trabajan con niños con discapacidad física, auditiva o visual, o con dificultades emocionales, de comportamiento o de aprendizaje. Pueden utilizar recursos y métodos de enseñanza especiales, como el lenguaje de signos o el Braille.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-eye"></i>
            </span>-->
            <h3>Evaluación Funcional Integral</h3>
            <small><p>Esta evaluación se realiza a todos los pacientes ingresantes, consta de una entrevista con los padres/tutores y anamnesis, en función de los datos obtenidos se designan dos profesionales del equipo y se realizan tres sesiones de juego. Posteriormente se realiza un informe integral con conclusiones y sugerencias. Por último se realiza un segundo encuentro con los padres en el que se hace la devolución de dicho informe..</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-command"></i>
            </span>-->
            <h3>Traumatología y Neuroortopedia Infantil</h3>
            <small><p>La traumatología pediátrica está dedicada al manejo integral de las patologías del sistema músculo-esquelético desde el nacimiento hasta el fin del crecimiento. La Neuro-Ortopedia es la rama de la Ortopedia que trata las deformidades y lesiones del sistema músculo esquelético producidas por enfermedades neurológicas.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-power"></i>
            </span>-->
            <h3>Programa de Habilidades Sociales</h3>
            <small><p>Las habilidades sociales son un conjunto de hábitos en nuestras conductas, pensamientos y emociones, que nos permiten interactuar con los demás del modo más adecuado posible a la situación en que nos encontramos y de manera mutuamente satisfactoria. Los niños que muestran unas habilidades sociales adecuadas se desenvuelven mejor en los ámbitos escolar, social y emocional e interactúan de forma más positiva con su entorno. </p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-eye"></i>
            </span>-->
            <h3>Apoyo a la Integración</h3>
            <small><p>Destinado a brindar apoyo pedagógico al proceso de integración escolar de niños que así lo requieran. Se brinda asesoramiento, sugerencias pedagógicas y estrategias metodológicas a las instituciones
escolares ya los docentes, como así también, se da orientación a la familia en el proceso de integración, a partir de reuniones individuales.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-command"></i>
            </span>-->
            <h3>Terapia Ocupacional</h3>
            <small><p>El servicio de Terapia Ocupacional (T.O) se ocupa de evaluar los componentes del desarrollo de las áreas del desempeño (actividades de la vida diaria, juego y educación) y las destrezas específicas de comportamientos ocupacionales. Utiliza las actividades como un medio terapéutico para incrementar la función independiente, incluye además la adaptación de las tareas, los objetos y el ambiente para lograr la máxima independencia y mejorar la calidad de vida. Interesa fundamentalmente la capacidad, a lo largo de la vida, para
              desempeñar con satisfacción para sí mismo y para otras personas aquellas tareas y roles esenciales para la vida productiva, el dominio de sí mismo y el ambiente.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <!--<span class="icon">
              <i class="icon-power"></i>
            </span>-->
            <h3>Apoyo Pedagógico</h3>
            <small><p>El acceso al currículo, las diversificaciones curriculares o la atención al ámbito donde tiene
              lugar la enseñanza requieren de apoyos específicos con diferentes tipos de organización (tipo de ayudas que se necesitan), en función de las necesidades de los alumnos con discapacidad, como así también de trabajo colaborativo entre profesionales intervinientes. Este área consta de espacios individuales llevados a cabo por profesores de Educación Especial, el apoyo se encuentra en estrecha relación con otros tratamientos, especialmente con Psicopedagogía y Apoyo a la Integración, buscando complementar el abordaje integral del niño.</p></small>
            <!--<p><a href="#">Learn more</a></p>-->
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>
      </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 ">
            <div class="feature-center animate-box" data-animate-effect="fadeInUp">
              <!--<span class="icon">
                <i class="icon-eye"></i>
              </span>-->
              <h3>Evaluación Psicopedagógica</h3>
              <small><p>La evaluación que tiene una orientación neuropsicológica consiste en el desarrollo de una amplia y especializada batería de tests y escalas básica s adecuados para cada caso, mediante los cuales se obtienen datos del estado de las posibilidades de aprendizaje y del estado comportamental de los pacientes y su grado de afectación cognitiva, con el fin de determinar la adaptabilidad socioeducativa. La aplicación de la batería requiere de cuatro encuentros individuales aproximadamente. El proceso comienza con una entrevista a los padres, en la que se observan los material es escolares y se recibe la información de los docentes y otros profesionales intervinientes. Al finalizar el proceso de evaluación y diagnóstico, se realiza otra entrevista con los padres, en la que se realiza la devolución explicativa de los materiales y se entrega un informe escrito acerca del proceso efectuado y las correspondientes orientaciones sugeridas.</p></small>
              <!--<p><a href="#">Learn more</a></p>-->
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-4 col-sm-6 ">
            <div class="feature-center animate-box" data-animate-effect="fadeInUp">
              <!--<span class="icon">
                <i class="icon-command"></i>
              </span>-->
              <h3>Habilitación / rehabilitación auditiva y Terapia Auditiva Verbal (TAV) de niños con audífono e implante coclear</h3>
              <small><p>Se realizara rehabilitación auditiva en niños con sordera pos lingual ya que han perdido la audición después de adquirir el lenguaje, la implementación vuelve a habilitar el canal. La habilitación auditiva refiere a niños con sordera pre lingual, por lo tanto se implementará un programa de habilitación auditiva. La Terapia Auditiva Verbal (TAV) es un enfoque terapéutico que se centra en la educación de los niños sordos enfatizando el desarrollo de las habilitades auditivas para la adquisición del lenguaje, por medio de la audición.</p></small>
              <!--<p><a href="#">Learn more</a></p>-->
            </div>
          </div>
          <div class="clearfix visible-md-block"></div>
        </div>
      </div>
    </div>
  </div>
</div>