<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-team">
    <div class="container">
      <div class="row animate-box row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <span>equipo andares</span>
          <h2>Nuestros Integrantes</h2>
          <p>Estas son algunas de las personas que conforman Andares y son los encargados de brindarte abordaje terapéutico integral y de calidad, adaptado a las necesidades de cada paciente y su familia.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/DSC_2699-1.jpg" alt="">
            <h3>Dr. Hugo Di Bello</h3>
            <strong class="role">- Director Médico -</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_113351.jpg" alt="">
            <h3>Caterina Aracena</h3>
            <strong class="role">Prof. de Educación Especial <br>Esp. en Atención Temprana <br>- Coordinadora -</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1lorena.jpeg" alt="">
            <h3>Lorena Quinteros</h3>
            <strong class="role">Prof. de Educación Especial <br>- Coordinadora Institucional -</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1mayra.jpeg" alt="">
            <h3>Mayra Pescara</h3>
            <strong class="role">Terapista Ocupacional <br>- Coordinadora Servicio de Acompañamiento Terapéutico -</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_113457.jpg" alt="">
            <h3>Johanna Borquez</h3>
            <strong class="role">Psicopedagoga <br>- Coordinadora del Dto. de Apoyo a la Integración -</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img_3romina2.jpeg" alt="">
            <h3>Romina Kees</h3>
            <strong class="role">Secretaria</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1malena.jpeg" alt="">
            <h3>Malena Ayala</h3>
            <strong class="role">Secretaria</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_113249.jpg" alt="">
            <h3>Melisa Suarez</h3>
            <strong class="role">Lic. en Kinesiología <br>Esp. en Neurorehabilitación</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img_3cristian.jpeg" alt="">
            <h3>Cristian Soto</h3>
            <strong class="role">Lic. en Kinesiología</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_114516.jpg" alt="">
            <h3>Daniela Gómez</h3>
            <strong class="role">Lic. en Psicología</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1ivana.jpeg" alt="">
            <h3>Ivanna Paz Ciancaglini</h3>
            <strong class="role">Lic. en Psicología</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_114639.jpg" alt="">
            <h3>Laura Barros Lucero</h3>
            <strong class="role">Lic. en Terapia Ocupacional</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1antonela.jpeg" alt="">
            <h3>Antonela Tolosa</h3>
            <strong class="role">Lic. en Terapia Ocupacional</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_114615.jpg" alt="">
            <h3>Silvana Martínez</h3>
            <strong class="role">Lic. en Fonoaudiología</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img_3romina.jpeg" alt="">
            <h3>Romina Baldevenito</h3>
            <strong class="role">Lic. en Psicomotricidad</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1laura.jpeg" alt="">
            <h3>Laura Rasgido</h3>
            <strong class="role">Prof. en Educación Especial <br>Acompañante Terapéutico</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-2daniela.jpg" alt="">
            <h3>Daniela Constancio</h3>
            <strong class="role">Prof. de Educación Especial</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1mercedes.jpeg" alt="">
            <h3>Mercedes Meló Corrado</h3>
            <strong class="role">Prof. de Educación Especial</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img_3vanina.jpeg" alt="">
            <h3>Vanina Paez</h3>
            <strong class="role">Prof. de Educación Especial</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_113326.jpg" alt="">
            <h3>Carolina Bustamante</h3>
            <strong class="role">Prof. de Educación Especial</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-2angela.jpg" alt="">
            <h3>Angela Ruiz Aragón</h3>
            <strong class="role">Prof. de Educación Especial</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img_3anabella.jpeg" alt="">
            <h3>Anabella Morales</h3>
            <strong class="role">Prof. de Educación Especial</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-2daniela2.jpg" alt="">
            <h3>Daniela Gauna</h3>
            <strong class="role">Prof. de Educación Especial</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1carolina.jpeg" alt="">
            <h3>Carolina Cuffoni</h3>
            <strong class="role">Psicomotricista <br>Acompañante Terapéutico</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img_3tamara.jpeg" alt="">
            <h3>Tamara Lescano</h3>
            <strong class="role">Psicomotricista</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/img-1daniela.jpeg" alt="">
            <h3>Daniela Cayul</h3>
            <strong class="role">Acompañante Terapéutico</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/IMG_20190416_114453.jpg" alt="">
            <h3>Paula Molina</h3>
            <strong class="role">Psicopedagoga</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'partials/workwithus' %>
</div>