<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-services" class="fh5co-bg-section border-bottom">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
          <!-- <span>Productive Staff</span> -->
          <!--<h2>Sector en Construcción</h2>
          <p>Estamos diseñando este sector, disculpe las molestias.</p>-->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-staff feature-center">
            <img src="images/training/mayo2019-1.jpg" alt="">
            <h3>Modelo DIR/FCD Floortime</h3>
            <strong class="role">Prof. Maria Aggio / Prof. Sebastián Cukier</strong>
            <p>Curso cerrado</p>
            <p>17 de Mayo de 2019 a las 18hs.</p>
            <ul class="fh5co-social-icons">
              <% link_to '<button type=submit class="btn btn-primary">Archivos del curso</button>'.html_safe, '/archives/material_dir.zip' %>
              <!--<li>Enviar mensaje: <a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff feature-center">
            <img src="images/training/septiembre2019-1.jpg" alt="">
            <h3>Introducción al enfoque ABA</h3>
            <strong class="role">Claudio Trivisonno</strong>
            <p>Curso cerrado</p>
            <!--<p>Curso de capacitación. Consultar costo de inscripción</p>-->
            <p>13 y 14 de Septiembre de 2019</p>
            <ul class="fh5co-social-icons">
              <!--<li><a href="https://www.facebook.com/andares.caletaolivia" target="_blank"><i class="icon-facebook"></i></a></li>
              <li><a href="https://api.whatsapp.com/send?phone=5492974245331" target="_blank"><i class="icon-dribbble"></i></a></li>-->
            </ul>
            <br>
          </div>
        </div>
        <!--<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/training/mayo2019-2.jpg" alt="">
            <h3>Traumatología Infantil</h3>
            <strong class="role">Dr. Tripodi</strong>
            <p>Charla gratuita dirigida al público en general</p>
            <p>22 y 23 de Mayo de 2019</p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-github"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img src="images/training/mayo2019-2.jpg" alt="">
            <h3>Psiquiatría Infantil</h3>
            <strong class="role">Dr. Di Bello</strong>
            <p>Charla gratuita dirigida al público en general</p>
            <p>3 de Junio de 2019</p>
            <ul class="fh5co-social-icons">
              <li><a href="https://www.facebook.com/andares.caletaolivia" target="_blank"><i class="icon-facebook"></i></a></li>
              <li><a href="https://api.whatsapp.com/send?phone=5492974245331" target="_blank"><i class="icon-dribbble"></i></a></li>
            </ul>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
