<div class="fh5co-loader"></div>
<div id="page">
<%= render 'partials/header' %>

<div id="fh5co-contact" style="margin-left: 40px; margin-right:40px;">
  <div class="container">
    <div class="row">

      <div class="row">
        <div class="col-md-12 animate-box" >
          <h3>Tus Datos</h3>
          <%= form_for @workwithus do |f| %>
            <div class="row form-group">
              <div class="col-md-4">
                <%= f.text_field :title, required: true, class:'form-control', placeholder:'Profesión' %>
              </div>
              <div class="col-md-4">
                <%= f.text_field :fname, class:'form-control', placeholder:'Nombre', required: true %>
              </div>
              <div class="col-md-4">
                <%= f.text_field :lname, class:'form-control', placeholder:'Apellido', required: true %>
              </div>

            </div>

            <div class="row form-group">
              <div class="col-md-4">
                <%= f.text_field :address, class:'form-control', placeholder:'Dirección', required: true %>
              </div>
              <div class="col-md-4">
                <%= f.text_field :city, class:'form-control', placeholder:'Localidad/Provincia', required: true %>
              </div>
              <div class="col-md-4">
                <%= f.text_field :email, class:'form-control', placeholder:'E-mail', required:true %>
              </div>

            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :message, class:'form-control', placeholder:'Mensaje (opcional)' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-6 col-md-offset-3">
                <%= f.file_field :attachment, class:"form-control" %>
              </div>
            </div>


            <div class="form-group text-center">
              <%= f.submit 'Enviar', class:'btn btn-lg btn-primary' %>
            </div>
            <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
</div>
