.resize-img {
  max-width: 60px;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
  display: block;
  height: auto;
}

.resize-img2 {
  display: block;
  height: auto;
  margin-right: 5px;
  margin-left: auto;
  max-width: 50px;
}

.dropdown {
  list-style: none;
  display: inline-block;
  min-width: 300px;
  border: 0 white !important;
  outline: 0 white !important;
  box-shadow: none;
}

.dropup {
  list-style: none;
  display: inline-block;
  min-width: 0;
  border: 0 white !important;
  outline: 0 white !important;
  box-shadow: none;
}

.dropdown-toggle {
  padding-top: -5px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-decoration: none;
  background: none;
  font-size: 14px;
  border: 0 white !important;
  outline: 0 white !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
}

.dropdown-menu {
  padding: 0;
  background: none;
  outline: 0 white !important;
  border: 0 white !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  /* display: block; 
  opacity:100;
  webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
transition: all 200ms ease-in; */
}
