<div class="row">
  <div class="container-fluid">
      <div id="myCarousel" class=" center-block carousel slide" data-ride="carousel" style="max-width: 425px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="images/andares_old1.png" alt="" style="width: 100%;">
          </div>

          <div class="item">
            <img src="images/andares_old2.png" alt="" style="width:100%;">
          </div>

          <div class="item">
            <img src="images/andares_old3.png" alt="" style="width:100%;">
          </div>

          <div class="item">
            <img src="images/andares_old4.png" alt="" style="width:100%;">
          </div>

          <div class="item">
            <img src="images/andares_old5.png" alt="" style="width:100%;">
          </div>

          <div class="item">
            <img src="images/andares_old6.png" alt="" style="width:100%;">
          </div>

          <div class="item">
            <img src="images/andares_old7.png" alt="" style="width:100%;">
          </div>

          <div class="item">
            <img src="images/andares_old8.png" alt="" style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>

</div>