<footer id="fh5co-footer" role="contentinfo">
  <div class="container text-center">
    <div class="row row-pb-md">

      <div class="col-md-6 col-sm-6 col-xs-6 fh5co-widget text-left">
        <img src="images/g12.png" style="width: 150px; height: auto;" alt=""><br><br>
        <p>Pte. Hipólito Yrigoyen 2412 <br>Caleta Olivia Z9011AYJ <br>Santa Cruz <br>Tel. +54 9 297 424-5331</p>
      </div>
      <br><br>
      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
        <ul class="fh5co-footer-links">
          <li><%= link_to 'Preguntas Frecuentes', faq_path %></li>
          <li><%= link_to 'Información para Pacientes', info_path %></li>
          <li><%= link_to 'Profesionales', staff_path %></li>
          <li><%= link_to 'Trabajar en ANDARES', work_with_us_path %></li>
          <li><%= link_to 'Contacto', contact_path %></li>
        </ul>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2019 All Rights Reserved.</small>
          <!--<small class="block">Diseñada por GetTemplates.co</small>-->
          <small><%= link_to 'diegodev9', admincontact_path, class:'block' %></small>
        </p>
        <p>
        <ul class="fh5co-social-icons">
          <li><a href="https://twitter.com/andares_caleta?lang=es" target="_blank"><i class="icon-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/andares.caletaolivia" target="_blank"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-linkedin"></i></a></li>
          <li><a href="https://api.whatsapp.com/send?phone=5492974245331" target="_blank"><i class="icon-dribbble"></i></a></li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</footer>