<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(<%= @header_image %>);"
        data-stellar-background-ratio="1.0">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30">
              <%= @header_text %>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>