<div class="fh5co-loader"></div>
<div class="row">
  <div class="container-fluid">
    <div id="myCarousel" class=" center-block carousel slide" data-ride="carousel" style="max-width: 768px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
        <li data-target="#myCarousel" data-slide-to="15"></li>
        <li data-target="#myCarousel" data-slide-to="16"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/how_2.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_3.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_4.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_5.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_6.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_7.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_9.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_10.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_11.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_12.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_13.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_14.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_15.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_16.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_17.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="images/how_18.jpg" alt="" style="width:100%;">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</div>
