<div id="fh5co-testimonial" class="fh5co-bg2-section">
  <div class="container">
    <div class="row animate-box row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
        <span>Andares te informa</span>
        <h2>Neurodesarrollo</h2>
        <p>El desarrollo infantil es un proceso dinámico que involucra simultáneamente a la evolución biológica, psicológica y social, reconociendo además la importancia de los primeros años de vida del niño como la etapa donde se conformarán las habilidades perceptivas, motrices, cognitivas y sociocomunicativas que le facilitarán la adptación armónica y equilibrada al medio.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 animate-box">
        <div class="testimonial">
          <blockquote>
            <p>&ldquo;La familia se constituye como el primer agente facilitador del neurodesarrollo, serán las figuras paternas y/o maternas quienes posibiliten que el niño conquiste el mundo que lo rodea, a su propio ritmo.&rdquo;</p>
            <p class="author"> <img src="images/IMG_20190416_113351.jpg" alt="">
              <cite>&mdash; Caterina Aracena</cite></p>
          </blockquote>
        </div>

      </div>
    </div>
  </div>
</div>