<div id="fh5co-testimonial" class="fh5co-bg2-section">
  <div class="container">
    <div class="row animate-box row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
        <span>Calidad de atención</span>
        <h2>Porque elegir Andares?</h2>
        <p>Para Andares la calidad de atención es fundamental, por eso las opiniones de nuestros pacientes son muy importantes para nuestro crecimiento.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 animate-box">
        <div class="testimonial">
          <blockquote>
            <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
              adipisci architecto culpa amet.&rdquo;</p>
            <p class="author"> <img src="images/person1.jpg" alt="">
              <cite>&mdash; Mike Adam</cite></p>
          </blockquote>
        </div>

        <div class="testimonial fh5co-selected">
          <blockquote>
            <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
              provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
              reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
            <p class="author"><img src="images/person2.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co">
              <cite>&mdash; Eric Miller</cite></p>
          </blockquote>
        </div>
      </div>

      <div class="col-md-6 animate-box">
        <div class="testimonial fh5co-selected">
          <blockquote>
            <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
              provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
              reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
            <p class="author"><img src="images/person3.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co">
              <cite>&mdash; Eric Miller</cite></p>
          </blockquote>
        </div>

        <div class="testimonial">
          <blockquote>
            <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
              adipisci architecto culpa amet.&rdquo;</p>
            <p class="author"><img src="images/at_temprana.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co">
              <cite>&mdash; Mike Adam</cite></p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>