<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-12 text-left">
        <!-- <div id="fh5co-logo">
          <a href="work_with_us.html">andares<span>.</span><small id="fh5co-logo2">Equipo para la Atención del Desarrollo Infantil</small></a>
        </div> -->
        <div id="fh5co-logo2">
          <%= link_to '<img src="images/g12.png" style="width: 200px; height: auto;" alt="">'.html_safe, root_path %>
        </div>
      </div>
      <div class="col-md-10 col-xs-12 text-right menu-1">
        <ul>
          <li class=<%= @class_home %>>
            <%= link_to 'Inicio', root_path %>
          </li>
          <li class=<%= @class_services %>>
            <%= link_to 'Servicios', services_path %>
          </li>
          <li class="has-dropdown <%= @class_who %>">
            <a>¿Quienes somos?</a>
            <ul class="dropdown">
              <li><%= link_to 'Historia', history_path %></li>
              <li><%= link_to 'Profesionales', staff_path %></li>
              <li><%= link_to 'Como trabajamos', how_path %></li>
            </ul>
          </li>
          <li class="has-dropdown <%= @class_info %>">
            <a>Información útil</a>
            <ul class="dropdown">
              <li><%= link_to 'Preguntas Frecuentes', faq_path %></li>
              <li><%= link_to 'Información para Pacientes', info_path %></li>
              <li><%= link_to 'Noticias', news_path %></li>
            </ul>
          </li>
          <li class=<%= @class_training %>><%= link_to 'Capacitación', training_path %></li>
          <li class=<%= @class_contact %>><%= link_to 'Contacto', contact_path %></li>
        </ul>
      </div>
    </div>

  </div>
</nav>