<div id="fh5co-project">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left fh5co-heading animate-box">
        <span>Las Obras Sociales</span>
        <h2>Trabajan con nosotros</h2>
        <p>Estas son solo algunas de las Obras Sociales, puedes consultar por la tuya.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 fh5co-project animate-box" data-animate-effect="fadeIn">
        <a href="http://www.osde.com.ar" target="_blank"><img src="images/osde.jpeg" class="img-responsive center-block" alt="">
          <div class="fh5co-copy">
            <h3></h3>
            <p>OSDE</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 fh5co-project animate-box" data-animate-effect="fadeIn">
        <a href="https://www.ospesalud.com.ar/novedades/ospe-caleta-olivia/" target="_blank"><img src="images/ospe.png" alt=""
                                                                                                  class="img-responsive center-block">
          <div class="fh5co-copy">
            <h3></h3>
            <p>OSPE</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 fh5co-project animate-box" data-animate-effect="fadeIn">
        <a href="https://www.swissmedical.com.ar/" target="_blank"><img src="images/swiss.jpeg" alt=""
                                                                        class="img-responsive center-block">
          <div class="fh5co-copy">
            <h3></h3>
            <p>Swiss Medical</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 fh5co-project animate-box" data-animate-effect="fadeIn">
        <a href="https://www.medife.com.ar/" target="_blank"><img src="images/medife.jpeg" alt=""
                                                                  class="img-responsive center-block">
          <div class="fh5co-copy">
            <h3></h3>
            <p>Medife</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 fh5co-project animate-box" data-animate-effect="fadeIn">
        <a href="https://www.e-galeno.com.ar" target="_blank"><img src="images/galeno.jpeg" alt=""
                                                                   class="img-responsive center-block">
          <div class="fh5co-copy">
            <h3></h3>
            <p>Galeno</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 fh5co-project animate-box" data-animate-effect="fadeIn">
        <a href="https://www.unionpersonal.com.ar/" target="_blank"><img src="images/union_personal.png.png" alt=""
                                                                         class="img-responsive center-block">
          <div class="fh5co-copy">
            <h3></h3>
            <p>Union Personal</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>