<div id="fh5co-services" class="fh5co-bg-section border-bottom">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
        <div class="fh5co-heading">
          <span>Lo que te ofrecemos</span>
          <h2>Nuestros Servicios</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-6 ">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
          <%= link_to ('
					<p><img src="images/at_temprana.jpg" alt="" style="width: 200px !important; margin-right: 20px !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; border-radius: 50% !important;"></p>
          <h3>Atención Temprana</h3>
          ').html_safe, services_path%>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 ">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
							<%= link_to ('
          <p><img src="images/fono_infantil.jpg" alt="" style="width: 200px !important; margin-right: 20px !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; border-radius: 50% !important;"></p>
          <h3>Fonoaudiología</h3>
          ').html_safe, services_path%>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 col-sm-6 ">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
							<%= link_to ('
          <p><img src="images/psico_infantil.jpg" alt="" style="width: 200px !important; margin-right: 20px !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; border-radius: 50% !important;"></p>
          <h3>Psicología</h3>
          ').html_safe, services_path%>
        </div>
      </div>

      <div class="clearfix visible-md-block"></div>

      <div class="col-md-4 col-sm-6 ">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
							<%= link_to ('
          <p><img src="images/neurok_.jpg" alt="" style="width: 200px !important; margin-right: 20px !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; border-radius: 50% !important;"></p>
          <h3>NeuroKinesiología</h3>
          ').html_safe, services_path%>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 col-sm-6 ">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
							<%= link_to ('
          <p><img src="images/educ_espe.jpg" alt="" style="width: 200px !important; margin-right: 20px !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; border-radius: 50% !important;"></p>
          <h3>Educación Especial</h3>
         ').html_safe, services_path%>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 ">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
							<%= link_to ('
          <p><img src="images/psicopedag.jpg" alt="" style="width: 200px !important; margin-right: 20px !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; border-radius: 50% !important;"></p>
          <h3>Psicopedagogía</h3>
          ').html_safe, services_path %>
        </div>
      </div>

      <div>
        <p><%= link_to '<button type=submit class="btn btn-primary">ver mas...</button>'.html_safe, services_path %></p>
      </div>

      <div class="clearfix visible-md-block"></div>

    </div>
  </div>
</div>