<div id="fh5co-counter">
  <div class="container">

    <div class="row animate-box" data-animate-effect="fadeInUp">
      <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
        <span>Para tener en cuenta</span>
        <h2>Datos estadísticos</h2>
        <p>Algunos datos interesantes sobre el neurodessarrollo infantil solo en Argentina.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
							<span class="icon">
								<i class="ti-download"></i>
							</span>
          <span class="counter">+<span class="js-counter" data-from="0" data-to="44" data-speed="1500"
                                       data-refresh-interval="50">1</span></span>
          <span class="counter-label">Millones de Habitantes</span>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
							<span class="icon">
								<i class="ti-face-smile"></i>
							</span>
          <span class="counter">+<span class="js-counter" data-from="0" data-to="400" data-speed="1500"
                                       data-refresh-interval="50">1</span></span>
          <span class="counter-label">Mil personas estan dentro del TEA </span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
							<span class="icon">
								<i class="ti-briefcase"></i>
							</span>
          <span class="counter">+<span class=" js-counter" data-from="0" data-to="80" data-speed="1500"
                                       data-refresh-interval="50">1</span>%</span>
          <span class="counter-label">de las alteraciones de aprendizaje se vinculan a trastornos del lenguaje</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
          <span class="counter">+<span class="js-counter" data-from="0" data-to="5" data-speed="1500"
                                       data-refresh-interval="50">1</span>%</span>
          <span class="counter-label">de menores de 18 años tienen TDAH</span>
        </div>
      </div>
    </div>
  </div>
</div>