<div id="fh5co-started">
  <div class="container">
    <div class="row animate-box" data-animate-effect="fadeInUp">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Quéres trabajar con nosotros?</span>
        <h2>Envianos Tu Curriculum</h2>
        <p>El equipo ANDARES se encuentra en constante crecimiento y por eso necesitamos de profesionales como vos
          para seguir avanzando.</p>
        <%= link_to '<button type=submit class="block-center btn btn-primary">Enviar</button>'.html_safe, work_with_us_path %>
      </div>
    </div>
  </div>
</div>