<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-contact" style="margin-left: 40px; margin-right:40px;">
    <div class="container">
      <div class="row">

        <div class="row">
          <div class="col-md-12 animate-box" >
            <h3>Tus Datos</h3>
            <%= form_for @user, url: user_new_path, html: { multipart: true }, remote: true do |f| %>
              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.text_field :profesion, required: true, class:'form-control', placeholder:'Profesión' %>
                </div>
                <div class="col-md-4">
                  <%= f.text_field :nombre, class:'form-control', placeholder:'Nombre', required: true %>
                </div>
                <div class="col-md-4">
                  <%= f.text_field :apellido, class:'form-control', placeholder:'Apellido', required: true %>
                </div>

              </div>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.text_field :direccion, class:'form-control', placeholder:'Dirección', required: true %>
                </div>
                <div class="col-md-4">
                  <%= f.text_field :ciudad, class:'form-control', placeholder:'Localidad/Provincia', required: true %>
                </div>
                <div class="col-md-4">
                  <%= f.text_field :email, class:'form-control', placeholder:'E-mail', required:true %>
                </div>

              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <%= f.text_field :mensaje, class:'form-control', placeholder:'Mensaje (opcional)' %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= f.file_field :file, class:"form-control", required: true %>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= f.text_field :nickname, hint: 'leave this field blank', class:'hide' %>
                </div>
              </div>

              <div class="form-group text-center">
                <%= f.submit 'Enviar', class:"btn btn-lg btn-primary", data: { disable_with: 'Enviando...' } %>
              </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>