<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-contact">
    <div class="container">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-12 animate-box">
          <h3>Contactar con el Web Admin</h3>
          <%= form_for @admincontact, url: admincontact_new_path, remote: true do |f| %>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :email, required: true, class:'form-control', placeholder:'E-mail' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :mensaje, class:'form-control', cols:'30', rows:'10', required: true, placeholder:'Mensaje' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :nickname, hint: 'leave this field blank', class:'hide' %>
              </div>
            </div>

            <div class="form-group text-center">
              <%= f.submit 'Enviar', class:'btn btn-lg btn-primary', data: {disable_with: 'Enviando...'} %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>