<div class="fh5co-loader"></div>
<div id="page">
  <%= render 'partials/header' %>
  <div id="fh5co-contact">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-push-1 col-sm-5 col-sm-push-0 text-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2749.603070651212!2d-67.51917528462343!3d-46.43674648220577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbde5dfa527ffa8a9%3A0x35c39ba3c2adee6d!2sHip%C3%B3lito+Yrigoyen+424%2C+Caleta+Olivia%2C+Santa+Cruz!5e0!3m2!1ses-419!2sar!4v1559771389865!5m2!1ses-419!2sar" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-md-6 col-md-push-1 col-sm-6 col-sm-push-2 col-xs-10 col-xs-push-1 animate-box">
          <div class="fh5co-contact-info">
            <h3>Información de contacto</h3>
            <ul>
              <li class="address"><a href="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d1531.8266792778657!2d-67.51696483842618!3d-46.43679454773219!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbde5dfa527ffa8a9%3A0x35c39ba3c2adee6d!2sHip%C3%B3lito+Yrigoyen+424%2C+Caleta+Olivia%2C+Santa+Cruz!5e1!3m2!1ses-419!2sar!4v1555006399529!5m2!1ses-419!2sar">Pte. Hipólito Yrigoyen 2412 <br>Caleta Olivia Z9011AYJ <br>Santa Cruz </a></li>
              <li class="phone"><a href="tel://1234567920">+54 9 297 424-5331</a></li>
              <li class="email"><a href="mailto:andaresequipo@gmail.com">andaresequipo@gmail.com</a></li>
              <li class="url"><a href="https://www.facebook.com/andares.caletaolivia" target="_blank">Andares Caleta Olivia</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 animate-box">
          <h3>Escríbenos</h3>
          <%= form_for @contact, url: contact_new_path, remote: true do |f| %>
            <div class="row form-group">
              <div class="col-md-6">
                <%= f.text_field :nombre , required: true, class:'form-control', placeholder:'Nombre' %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :apellido, required: true, class:'form-control', placeholder:'Apellido' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :email, required: true, class:'form-control', placeholder:'E-mail' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :asunto, required: true, class:'form-control', placeholder:'Asunto del mensaje' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :mensaje, class:'form-control', cols:'30', rows:'10', required: true, placeholder:'Mensaje' %>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= f.text_field :nickname, hint: 'leave this field blank', class:'hide' %>
              </div>
            </div>

            <div class="form-group text-center">
              <%= f.submit 'Enviar', class:'btn btn-lg btn-primary', data: {disable_with: 'Enviando...'} %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>